<div class="border border-dark" #el>
  <div class="mb-5">
    <h2 class="text-center">Vehicles on Air</h2>
    <div class="justify-content-center d-flex">
      <app-manage-list [list]="list" (updatedList)="onListUpdate($event)"></app-manage-list>
    </div>
  </div>
  <div class="d-flex">

    <div class="p-0 border border-dark">

      <!-- Child Level-2 -->
      <app-helicopter [vehicleProp]="list"></app-helicopter>
    </div>
    <div class="p-0 border border-dark">

      <!-- Child Level-2 -->
      <app-air-plane [vehicleProp]="list"></app-air-plane>
    </div>
  </div>
</div>